<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="productId" value="PluginManager"/>
    <add key="productTitle" value="插件管理器"/>
    <add key="productCategory" value="管理"/>
    <add key="productDescription" value="安装、升级和管理您的 Ruminoid 插件。"/>
  </appSettings>
</configuration>